openapi: 3.1.0
info:
  title: 100ms Server-Side Active Rooms Sessions API
  description: 'REST control plane for the 100ms live video and audio platform. Manage rooms, templates and roles (policy), active in-session control, recordings, live streams (HLS), external streams (RTMP push to YouTube/Twitch/Facebook), RTMP stream keys, room codes, polls, sessions, and analytics. All endpoints are authenticated with a short-lived management JWT signed with the app access key/secret pair from the dashboard.

    '
  version: v2
  contact:
    name: 100ms Support
    url: https://www.100ms.live/contact-sales
  license:
    name: 100ms Terms of Service
    url: https://www.100ms.live/legal/terms-and-conditions
servers:
- url: https://api.100ms.live/v2
  description: Production
security:
- ManagementToken: []
tags:
- name: Sessions
  description: Historical sessions inside a room.
paths:
  /sessions:
    get:
      summary: List Sessions
      operationId: listSessions
      tags:
      - Sessions
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Start'
      - in: query
        name: room_id
        schema:
          type: string
      - in: query
        name: active
        schema:
          type: boolean
      responses:
        '200':
          $ref: '#/components/responses/SessionList'
  /sessions/{session_id}:
    parameters:
    - in: path
      name: session_id
      required: true
      schema:
        type: string
    get:
      summary: Retrieve A Session
      operationId: retrieveSession
      tags:
      - Sessions
      responses:
        '200':
          $ref: '#/components/responses/Session'
components:
  schemas:
    Session:
      type: object
      properties:
        id:
          type: string
        room_id:
          type: string
        room_name:
          type: string
        active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        peers:
          type: array
          items:
            $ref: '#/components/schemas/Peer'
        template_id:
          type: string
    Peer:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        user_id:
          type: string
        metadata:
          type: string
        role:
          type: string
        joined_at:
          type: string
          format: date-time
        tracks:
          type: object
          additionalProperties:
            type: object
  responses:
    SessionList:
      description: Page of sessions
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/Session'
              last:
                type: string
              limit:
                type: integer
    Session:
      description: Session
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Session'
  parameters:
    Limit:
      in: query
      name: limit
      schema:
        type: integer
        default: 10
        maximum: 100
    Start:
      in: query
      name: start
      schema:
        type: string
        description: Cursor returned by the previous page.
  securitySchemes:
    ManagementToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Short-lived HS256 JWT generated server-side from the app access key/secret downloaded from the 100ms dashboard. Include as `Authorization: Bearer <token>`.

        '
