openapi: 3.1.0
info:
  title: 100ms Server-Side Active Rooms External Streams API
  description: 'REST control plane for the 100ms live video and audio platform. Manage rooms, templates and roles (policy), active in-session control, recordings, live streams (HLS), external streams (RTMP push to YouTube/Twitch/Facebook), RTMP stream keys, room codes, polls, sessions, and analytics. All endpoints are authenticated with a short-lived management JWT signed with the app access key/secret pair from the dashboard.

    '
  version: v2
  contact:
    name: 100ms Support
    url: https://www.100ms.live/contact-sales
  license:
    name: 100ms Terms of Service
    url: https://www.100ms.live/legal/terms-and-conditions
servers:
- url: https://api.100ms.live/v2
  description: Production
security:
- ManagementToken: []
tags:
- name: External Streams
  description: Push the room feed to YouTube / Twitch / Facebook via RTMP.
paths:
  /external-streams:
    get:
      summary: List All External Streams
      operationId: listExternalStreams
      tags:
      - External Streams
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Start'
      - in: query
        name: room_id
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/ExternalStreamList'
  /external-streams/{stream_id}:
    parameters:
    - in: path
      name: stream_id
      required: true
      schema:
        type: string
    get:
      summary: Get External Stream
      operationId: getExternalStream
      tags:
      - External Streams
      responses:
        '200':
          $ref: '#/components/responses/ExternalStream'
  /external-streams/room/{room_id}/start:
    parameters:
    - $ref: '#/components/parameters/RoomId'
    post:
      summary: Start External Stream For Room
      operationId: startExternalStreamForRoom
      tags:
      - External Streams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - rtmp_urls
              properties:
                meeting_url:
                  type: string
                  format: uri
                rtmp_urls:
                  type: array
                  items:
                    type: string
                resolution:
                  type: object
                  properties:
                    width:
                      type: integer
                    height:
                      type: integer
      responses:
        '200':
          $ref: '#/components/responses/ExternalStream'
  /external-streams/room/{room_id}/stop:
    parameters:
    - $ref: '#/components/parameters/RoomId'
    post:
      summary: Stop External Stream For Room
      operationId: stopExternalStreamForRoom
      tags:
      - External Streams
      responses:
        '200':
          $ref: '#/components/responses/Empty'
  /external-streams/{stream_id}/stop:
    parameters:
    - in: path
      name: stream_id
      required: true
      schema:
        type: string
    post:
      summary: Stop External Stream By Id
      operationId: stopExternalStreamById
      tags:
      - External Streams
      responses:
        '200':
          $ref: '#/components/responses/Empty'
components:
  responses:
    ExternalStream:
      description: External (RTMP-out) stream
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExternalStream'
    ExternalStreamList:
      description: Page of external streams
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/ExternalStream'
              last:
                type: string
              limit:
                type: integer
    Empty:
      description: Successful empty response
      content:
        application/json:
          schema:
            type: object
  schemas:
    ExternalStream:
      type: object
      properties:
        id:
          type: string
        room_id:
          type: string
        session_id:
          type: string
        status:
          type: string
        rtmp_urls:
          type: array
          items:
            type: string
        started_at:
          type: string
          format: date-time
        stopped_at:
          type: string
          format: date-time
  parameters:
    RoomId:
      in: path
      name: room_id
      required: true
      schema:
        type: string
    Limit:
      in: query
      name: limit
      schema:
        type: integer
        default: 10
        maximum: 100
    Start:
      in: query
      name: start
      schema:
        type: string
        description: Cursor returned by the previous page.
  securitySchemes:
    ManagementToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Short-lived HS256 JWT generated server-side from the app access key/secret downloaded from the 100ms dashboard. Include as `Authorization: Bearer <token>`.

        '
